@using LibraVerse.Data.Models.Books;
@model IEnumerable<Book>

<h2>All Books</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Realese Date</th>
            <th>Pages</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Genre</td>
                <td>@book.ReleaseDate.ToString("MMMM yyyy")</td>
                <td>@book.Pages</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Book</a>

